In [24]:
import pandas as pd

OBJ_FILE = "/Users/alneuman/Downloads/FOSSUM AXE.obj"

data = []
with open(OBJ_FILE) as f:
    for line in f.readlines():
        if line.startswith('v '):
            d = line[2:].strip().split(' ')
            if len(d) != 3:
                raise IOError(line)
            data.append(d)
df = pd.DataFrame(data)
df.head()

           0         1          2
0  -1.335333  4.076121  10.788483
1  -1.551799  4.135518  10.780691
2  -1.341322  4.078354  10.788228
3  -1.549399  4.141989  10.781260
4  -1.097792  3.965221  10.796186